streamlit
streamlit_mic_recorder
requests
beautifulsoup4
python-dotenv
groq
pypdf
python-docx
sentence-transformers
faiss-cpu
numpy
pandas
Pillow
pytesseract
gtts
moviepy==1.0.3
imageio==2.31.1
tenacity
openpyxl
langchain-text-splitters
