streamlit
streamlit_mic_recorder
requests
beautifulsoup4
re
python-dotenv
groq
pypdf
python-docx
sentence-transformers
faiss-cpu
numpy
pandas
Pillow
pytesseract
gtts
moviepy
tenacity
openpyxl